*{
    box-sizing: border-box;
}

body{
    background-image: url('./../assets/herbe.jpg');
}
.main-container{
    display: flex;
    flex-direction: row;
}
button{
    width: 200px;
    height: 35px;
    margin-bottom: -25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(6, 174, 6);
    color: white;
    font-size: large;
    
}
button:hover{
    background-color: rgb(112, 148, 29);
}
.divButton{
    width: 100%;
    display: flex;
    text-align: center;
}
.divButton > button{
    height: 70px;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: aliceblue;
    border: 7px grey ridge;
    padding: 25px;
}
.form-container > select {
    margin : 50px 0 50px 0;
}
.labContainer{
    width: 80%;
}
#labyrinthe{
    background-image: url('./../assets/terre.jpg');
    width: 50%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cell{
    width: 100%;
    height: 30px;
}
.child{
    flex-basis: 5%;
}

.depart{
    background-color: yellow;
}
.sortie{
    background-color: red;
}
.hero{
    font-weight: bold;
}
